/*
 * Theme Name: Ficha Colaborador
 */

body{
	padding:0;
	margin:0;
	background-color: rgb(222, 232, 239);
	font-family: "Roboto", Arial, sans-serif;
}

.form-container{
	max-width: 800px;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:60px;
}

.form-container .header-image{
	border-radius: 8px;	
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 12px;
	height: 190px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.form-group, .login{
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
	padding: 24px;
	margin-left: 10px;
	margin-right: 10px;
	box-sizing: border-box;
}

.login{
	width: 500px;
	max-width: 90%;
	padding:10px 40px 30px 40px;
	left: 50%;
  	top: 50%;
	position: absolute;
  	transform: translate(-50%, -50%);
}

.login h2 {
	text-align: center;
	margin-bottom:30px;
}

.login label{
	font-weight: bold;
	display: block;
	margin-bottom:10px;
}

.login a {
	text-align: center;
	display: block;
}

.login-username input, .login-password input{
	display: block;
	width: 100%;
	height: 40px;
	line-height:40px;
	border-radius: 0;
	margin: 0 auto;
	border:none;
	border-bottom:1px solid #ccc;	
}

.login-submit input{
	background-color: rgb(71, 125, 157);
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	line-height: 34px;
	height: 36px;
	border:none;
	width: 110px;
	letter-spacing: .25px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 auto;
	display: block;
}

.form-group label{
    font-weight: 600;
	letter-spacing: .1px;	
}

.form-group label span{
	color: #d93025;
}
.form-group label .wpcf7-list-item-label{
	color:initial;
}

p.required{
	color: #d93025;
}

.wpcf7-form-control-wrap{
	display: block;
	margin-top: 16px;
}

.form-group select, 
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"]
{
	width: 70%;
	height: 40px;
	line-height:40px;
	border-radius: 0;
	border:none;
	border-bottom:1px solid #ccc;	
}

.wpcf7-not-valid-tip{
	margin-top:10px;
	font-size: 12px;
}
.wpcf7-not-valid{
	border-color: #d93025!important;
}

.wpcf7-list-item{
	margin-left:0!important;
}

.wpcf7-list-item.first{
	margin-right:10px;
}

.wpcf7-form-control-wrap.aceitacao{
	display: inline-block;
}
.accept{
	color:initial!important;
}

.wpcf7-submit{
	margin-left:10px;
	background-color: rgb(71, 125, 157);
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	line-height: 34px;
	height: 36px;
	border:none;
	width: 110px;
	letter-spacing: .25px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}

.wpcf7-submit:disabled{
	background-color: #5f6368;
	color:#ccc
}


@media(max-width:767px){
	.form-group select, 
	.form-group input[type="text"],
	.form-group input[type="email"],
	.form-group input[type="number"]{
		width: 100%;
	}
}